<ng-container *ngIf="!editing">
    <td>{{ model.id }}</td>
    <td>{{ model.nombre }}</td>
    <td>{{ getTotalEmployees() }}</td>
    <td class="uk-invisible-hover">
        <a class="uk-icon-button" uk-icon="pencil" uk-tooltip="Editar" (click)="startEditMode()"></a>
        <a class="uk-icon-button" uk-icon="trash" uk-tooltip="Eliminar" (click)="deleteAreaDeTrabajo()"></a>
    </td>
</ng-container>
<ng-container *ngIf="editing">
    <td>{{ model.id }}</td>
    <td><input class="uk-input" type="text" [(ngModel)]="model.nombre"></td>
    <td>{{ getTotalEmployees() }}</td>
    <td>
        <a class="uk-icon-button" uk-tooltip="Crear" uk-icon="check" (click)="endEditMode(true)"></a>
        <a class="uk-icon-button" uk-tooltip="Cancelar" uk-icon="close" (click)="endEditMode(false)"></a>
    </td>
</ng-container>