<ng-container *ngIf="!editing">
    <td>{{ model.id }}</td>
    <td>{{ model.nombre }}</td>
    <td>{{ getTotalEmployees() }}</td>
    <td>
        <ul class="uk-iconnav uk-invisible-hover">
            <a class="uk-button uk-button-small" uk-icon="pencil" uk-tooltip="Editar" (click)="startEditMode()"></a>
            <a class="uk-button uk-button-small" uk-icon="trash" uk-tooltip="Eliminar" (click)="deleteAreaDeTrabajo()"></a>
        </ul>
    </td>
</ng-container>
<ng-container *ngIf="editing">
    <td>{{ model.id }}</td>
    <td><input class="uk-input" type="text" [(ngModel)]="model.nombre"></td>
    <td>{{ getTotalEmployees() }}</td>
    <td>
        <ul class="uk-iconnav">
            <a class="uk-button uk-button-small" uk-tooltip="Crear" uk-icon="check" (click)="endEditMode(true)"></a>
            <a class="uk-button uk-button-small" uk-tooltip="Cancelar" uk-icon="close" (click)="endEditMode(false)"></a>
        </ul>
    </td>
</ng-container>