<div class="uk-navbar-container uk-sticky uk-sticky-fixed" uk-sticky>
  <div class="uk-container uk-container-expand uk-background-secondary uk-light">
    <nav class="uk-navbar" uk-navbar>
        <div class="uk-navbar-left">
          <ul class="uk-navbar-nav">
            <li routerLinkActive="uk-active"><a routerLink="/empleados">Empleados</a></li>
            <li routerLinkActive="uk-active"><a routerLink="/areasdetrabajo">Áreas de Trabajo</a></li>
          </ul>
        </div>
    </nav>
  </div>
</div>
