<div class="uk-container uk-container-expand uk-padding">
    <table class="uk-table uk-table-striped uk-table-hover uk-table-justify">
        <thead>
            <tr>
                <th class="uk-table-shrink">ID</th>
                <th class="uk-table-expand">Nombre</th>
                <th>Edad</th>
                <th class="uk-table-expand">Área de Trabajo</th>
                <th>¿Es Desarrollador?</th>
                <th class="uk-table-expand">Descripción</th>
                <th class="uk-table-expand">Fecha de Alta</th>
                <th class="uk-table-expand">Fecha de Baja</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let empleado of getAllEmpleados()">
                <td>{{ empleado.id }}</td>
                <td>{{ empleado.nombre }}</td>
                <td>{{ convertBirthdateToAge(empleado.fechaDeNacimiento) }}</td>
                <td>{{ convertAreaIdToName(empleado.areaDeTrabajoId) }}</td>
                <td>{{ empleado.esDesarrollador }}</td>
                <td>{{ empleado.descripcion }}</td>
                <td>{{ sanitizeDatestring(empleado.fechaDeAlta) }}</td>
                <td>{{ sanitizeDatestring(empleado.fechaDeBaja) }}</td>
            </tr>
        </tbody>
    </table>
</div>
