<div class="uk-container uk-container-expand uk-padding">
    <table class="uk-table uk-table-striped uk-table-hover uk-table-justify">
        <thead>
            <tr>
                <th class="uk-table-shrink">ID</th>
                <th class="uk-table-expand">Nombre</th>
                <th>Edad</th>
                <th class="uk-table-expand">Área de Trabajo</th>
                <th>Tipo de empleado</th>
                <th>Descripción</th>
                <th>Fecha de Alta</th>
                <th>Fecha de Baja</th>
                <th style="width: 100px;"></th>
            </tr>
        </thead>
        <tbody>
            <tr class="uk-visible-toggle" tablerow-item *ngFor="let empleado of getAllEmpleados()" [model]="empleado"></tr>
        </tbody>
    </table>
    <app-empleado-form />
    <button class="uk-button uk-button-primary" uk-toggle="target: #add-modal"><span uk-icon="plus"></span></button>
</div>
